In [1]:
from dotenv import load_dotenv
from boto3.session import Session
import boto3
import os
import pprint
import pandas as pd
from io import StringIO
import psycopg2
import sqlalchemy as sa
from sqlalchemy.engine.url import URL

load_dotenv()  # take environment variables from .env.
pp = pprint.PrettyPrinter(indent=2)

# Check current env
for name, value in os.environ.items():
    print("{0}: {1}".format(name, value))

SHELL: /bin/bash
REDSHIFT_PORT: 5439
HOSTNAME: b48ec99e7d45
LANGUAGE: en_US.UTF-8
REDSHIFT_PASSWORD: SCEHXmuoje186!-
REDSHIFT_USER: admin
NB_UID: 1000
REDSHIFT_HOST: default-workgroup.990730737133.ap-southeast-1.redshift-serverless.amazonaws.com
AWS_REGION: ap-southeast-1
PWD: /home/jovyan
HOME: /home/jovyan
LANG: en_US.UTF-8
S3_SECRET_KEY: jN8AKSgrcaBCKiSMNzmsUDli+d/WMIBOXrKymao8
NB_GID: 100
JUPYTER_ENABLE_LAB: yes
SHLVL: 0
CONDA_DIR: /opt/conda
JUPYTER_PORT: 8888
NB_USER: jovyan
LC_ALL: en_US.UTF-8
PATH: /opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
S3_BUCKET: transaction-networks
DEBIAN_FRONTEND: noninteractive
S3_ACCESS_KEY: AKIA6NLBHKXWZ6EHO7FU
JPY_SESSION_NAME: /home/jovyan/work/cus-trx-etl.ipynb
JPY_PARENT_PID: 7
PYDEVD_USE_FRAME_EVAL: NO
TERM: xterm-color
CLICOLOR: 1
FORCE_COLOR: 1
CLICOLOR_FORCE: 1
PAGER: cat
GIT_PAGER: cat
MPLBACKEND: module://matplotlib_inline.backend_inline

# Read data from S3 -> Pandas Dataframe

## Setup s3_client

In [2]:
# Create s3 client base on env Access Key
access_key = os.getenv('S3_ACCESS_KEY')
secret_key = os.getenv('S3_SECRET_KEY')
bucket_name = os.getenv('S3_BUCKET')
aws_region = os.getenv('AWS_REGION')

def get_s3_client(creds):
    return boto3.client(
        's3',
        aws_access_key_id=creds['access_key'],
        aws_secret_access_key=creds['secret_key']
    )
s3_client = get_s3_client({'access_key':access_key, 'secret_key': secret_key})
print(s3_client)

<botocore.client.S3 object at 0xffff835a1490>

## Declear 3 util functions
1. list_folders of bucket
2. list_files of folder with prefix param
3. load list files to dataframe

In [3]:
# 1
def list_folders(client, bucket_name, prefix=''):
    response = client.list_objects_v2(Bucket=bucket_name, Prefix=prefix, Delimiter='/')

    # print('response')
    # pp.pprint(response)
    folders = []
    if 'CommonPrefixes' in response:
        folders = [prefix['Prefix'] for prefix in response['CommonPrefixes']]
    return folders

# 2
def list_files(client, bucket_name, prefix):
    files = []
    response = client.list_objects_v2(Bucket=bucket_name, Prefix=prefix)
    # Only take CSV files
    if 'Contents' in response:
        files = [file['Key'] for file in response['Contents'] if file['Key'].endswith('.csv')]
    return files

# 3
def load_files_to_dataframe(client, bucket_name, files):
    dataframes = []
    for file_key in files:
        # Download file content
        obj = client.get_object(Bucket=bucket_name, Key=file_key)
        file_content = obj['Body'].read().decode('utf-8')
        
        # Convert CSV content to DataFrame
        df = pd.read_csv(StringIO(file_content))
        dataframes.append(df)
    
    # Concatenate all DataFrames into one
    if dataframes:
        return pd.concat(dataframes, ignore_index=True)
    return pd.DataFrame()

## Load S3 CSV to df

In [4]:
# List all top-level folders
folders = list_folders(s3_client, bucket_name)

list_df = []

# Iterate through each folder, get subfolders, and load files
for folder in folders:
    print(f'Folder: {folder}')
    
    files = list_files(s3_client, bucket_name, folder)
    if files:
        print(f'    Files: {files}')
        df = load_files_to_dataframe(s3_client, bucket_name, files)
        # print(df.head())  # Preview the DataFrame
        list_df.append(df)

# Concatenate all DataFrames into a single DataFrame
if list_df:
    df = pd.concat(list_df, ignore_index=True)
    # print(final_dataframe)  # Preview the final DataFrame
else:
    print("No data found.")

Folder: network-1/
    Files: ['network-1/network_1.csv']
Folder: network-2/
    Files: ['network-2/network_2.csv']
Folder: network-3/
    Files: ['network-3/network_3.csv']

# Handle data of df

## Handle customer_transaction df with pandas
- Both code style have a BigO of O(nlogn)
- Pandas build-in function have better due to
  - Vectorized operations in pandas (like groupby, transform, cumsum())
  - Memory Efficiency: groupby and transform avoid appending values one by one

In [5]:
# Format transaction_date type
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

# Create 'balance_change' column
df['balance_change'] = df.apply(
    lambda row: row['transaction_amount'] if row['transaction_type'] == 'deposit' else -row['transaction_amount'],
    axis=1
)

# Sort data by 'customer_id' and 'transaction_date' in ascending order
df = df.sort_values(by=['customer_id', 'transaction_date'], ascending=[True, True])

# Create a mask for completed transactions
completed_mask = df['status'] == 'completed'

# Step 4: Calculate cumulative sum for 'balance_change' only for completed transactions
df['running_balance'] = df.groupby('customer_id')['balance_change'].transform(
    lambda x: x.where(completed_mask).cumsum().ffill().fillna(0)
)

# Step 5: Re-sort by 'transaction_date' in descending order to meet the final requirement
df = df.sort_values(by='transaction_date', ascending=False)

df

,network_id,transaction_id,customer_id,transaction_date,transaction_amount,transaction_type,status,balance_change,running_balance
979,NET_2,TX_877649,CUST_1,2024-09-20 17:56:53,2733.86,withdrawal,failed,-2733.86,-7106.05
1932,NET_2,TX_157779,CUST_20,2024-09-20 16:37:50,2708.41,deposit,failed,2708.41,-26179.27
3085,NET_3,TX_631051,CUST_4,2024-09-20 13:03:17,2862.85,deposit,completed,2862.85,70651.93
5146,NET_3,TX_161110,CUST_6,2024-09-20 11:36:54,2522.18,withdrawal,pending,-2522.18,-93682.89
297,NET_1,TX_378785,CUST_5,2024-09-20 10:27:45,1523.40,withdrawal,completed,-1523.40,4200.77
...,...,...,...,...,...,...,...,...,...
963,NET_2,TX_775202,CUST_1,2023-09-20 23:11:28,2968.04,withdrawal,completed,-2968.04,-2968.04
2246,NET_2,TX_618844,CUST_8,2023-09-20 22:57:11,1735.08,deposit,completed,1735.08,1735.08
1192,NET_2,TX_479361,CUST_4,2023-09-20 21:28:41,4990.46,deposit,pending,4990.46,0.00
4473,NET_2,TX_464325,CUST_14,2023-09-20 21:00:27,4528.93,withdrawal,completed,-4528.93,-4528.93
5528,NET_3,TX_202626,CUST_12,2023-09-20 19:53:32,3874.84,withdrawal,completed,-3874.84,-3874.84

# Push data to Redshift & S3 (Parquet)

## Redshift

In [6]:
import redshift_connector
import awswrangler as wr

def push_to_redshift(df, redshift_params, s3_params):
    # Connect to Redshift
    redshift_conn = redshift_connector.connect(
                        host = redshift_params['host'],
                        port = redshift_params['port'],
                        user = redshift_params['user'],
                        password = redshift_params['password'],
                        database = redshift_params['dbname']
                      )

    boto3_session = boto3.Session(
        aws_access_key_id=s3_params['access_key'],
        aws_secret_access_key=s3_params['secret_key'],
        region_name=s3_params['region_name']
    )
    
    wr.redshift.copy(
            df = df,
            path = s3_params['temp_path'],
            keep_files= False,
            con = redshift_conn,
            table = redshift_params['tablename'],
            schema = redshift_params['schema'],
            mode = redshift_params['mode'],
            overwrite_method = redshift_params['overwrite_method'] if 'overwrite_method' in redshift_params else None,
            boto3_session=boto3_session,
            primary_keys = [redshift_params['pk']],
            sortstyle = "COMPOUND",
            sortkey = redshift_params['sortkey'],
            diststyle = redshift_params['diststyle'] if 'diststyle' in redshift_params else None,
            distkey = redshift_params['distkey'] if 'distkey' in redshift_params else None
          )


rs_host = os.getenv('REDSHIFT_HOST')
rs_port = os.getenv('REDSHIFT_PORT')
rs_user = os.getenv('REDSHIFT_USER')
rs_pw = os.getenv('REDSHIFT_PASSWORD')
redshift_params = {
    'dbname': 'dev',
    'user': rs_user,
    'password': rs_pw,
    'host': rs_host,
    'port': rs_port,
    'schema': 'public',
    'tablename': 'customer_transactions',
    'mode': 'upsert',
    # 'overwrite_method': 'drop',
    'pk': 'transaction_id',
    'sortkey': ['transaction_date', 'customer_id'],
    'distkey': 'customer_id',
    'diststyle': 'KEY'
}

s3_params = {
    'access_key':access_key,
    'secret_key':secret_key,
    'region_name':aws_region,
    'temp_path':f's3://{bucket_name}/tmp_customer_transaction'
}

# Call the function to push data to Redshift
push_to_redshift(df, redshift_params, s3_params)

## S3 Parquet
- This will appear on the root bucket of your S3

In [16]:
def save_to_s3_parquet(df, client, bucket_name, file_name, compression='snappy'):
    # Save DataFrame to parquet file locally
    df.to_parquet(file_name, index=False, compression=compression)

    # Upload parquet file to S3
    client.upload_file(file_name, bucket_name, file_name)

# Example usage
save_to_s3_parquet(df, s3_client, bucket_name, 'customer_transactions.parquet')

In [17]:
df

,network_id,transaction_id,customer_id,transaction_date,transaction_amount,transaction_type,status,balance_change,running_balance
0,NET_2,TX_877649,CUST_1,2024-09-20 17:56:53,2733.86,withdrawal,failed,-2733.86,-7106.05
1,NET_2,TX_157779,CUST_20,2024-09-20 16:37:50,2708.41,deposit,failed,2708.41,-26179.27
2,NET_3,TX_631051,CUST_4,2024-09-20 13:03:17,2862.85,deposit,completed,2862.85,70651.93
3,NET_3,TX_161110,CUST_6,2024-09-20 11:36:54,2522.18,withdrawal,pending,-2522.18,-93682.89
4,NET_1,TX_378785,CUST_5,2024-09-20 10:27:45,1523.40,withdrawal,completed,-1523.40,4200.77
...,...,...,...,...,...,...,...,...,...
5800,NET_2,TX_775202,CUST_1,2023-09-20 23:11:28,2968.04,withdrawal,completed,-2968.04,-2968.04
5801,NET_2,TX_618844,CUST_8,2023-09-20 22:57:11,1735.08,deposit,completed,1735.08,1735.08
5802,NET_2,TX_479361,CUST_4,2023-09-20 21:28:41,4990.46,deposit,pending,4990.46,0.00
5803,NET_2,TX_464325,CUST_14,2023-09-20 21:00:27,4528.93,withdrawal,completed,-4528.93,-4528.93
5804,NET_3,TX_202626,CUST_12,2023-09-20 19:53:32,3874.84,withdrawal,completed,-3874.84,-3874.84